.logo {
	position:absolute;
	left:40px;
	top:40px;
}
.logo img {
	width:62px;
}
@media screen and (max-width:776px) {
	.logo {
		left:20px;
		top:20px;
	}
	.logo img {
		width:32px;
		height:32px;
	}
}
.jumbotron {
	width:100%;
}
.jumbotron-title .title,
.jumbotron-title img {
	display:inline;
	vertical-align: middle;
}
.jumbotron-title span.primary {
	border-bottom:1px solid #fff!important;
}
.jumbotron-title img {
	margin-right:15px;
	width:65px;
	height:65px;
}
.jumbotron-title {
	margin-bottom:15px!important;
}
@media screen and (max-width:992px) {
	.jumbotron-title img {
		width:60px;
		height:60px;
	}
}
@media screen and (max-width:576px) {
	.jumbotron-title img {
		width:40px;
		height:40px;
	}
}
.jumbotron-actions {
	margin-top:30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width:700px) {
	.jumbotron-actions {
		display:flex;
		flex-direction:column;
	}

	.jumbotron-actions > *,
	.jumbotron-actions .button {
		width:100%;
	}

	.socials {
		margin-bottom:10px;
		display:block!important;
	}
}
.jumbotron-actions > * {
	margin:5px;
}
.intro-example {
	position: relative;
	display:flex;
	flex-wrap:wrap;
	justify-content: space-around;
	align-items: stretch;
	margin:40px 0;
}
.intro-example .item {
	width:25%;
	margin-bottom:40px;
	position: relative;
	border-radius:8px;
}
@media screen and (max-width:992px) {
	.intro-example .item {
		width:50%;
	}
	.intro-example .item:after {
		display:none;
	}
}
@media screen and (max-width:576px) {
	.intro-example .item {
		width:100%;
	}
}
.intro-example .item:after {
	content :'';
	background: #0012ff;
	width:100px;
	height:1px;
	position: absolute;
	left:100%;
	margin-left:-55px;
	top:46px;
}
.intro-example .item:last-child:after {
	display:none;
}
.intro-example.three .item {
	max-width:33%;
}
@media screen and (max-width:576px) {
	.intro-example.three .item {
		max-width:100%;
	}
}
.intro-example .item > * {
	padding:0 20px;
}
.intro-example .item img {
	width:65px;
	margin-top:20px;
}
.stages {
	display:flex;
	justify-content: center;
	align-items:center;
	width:100%;
	margin-bottom:50px;
}
@media screen and (max-width:696px) {
	.stages {
		flex-direction:column;
	}
	.stages .stage {
		margin-left:0px!important;
		margin-top:40px;
		width:150px!important;
		height:150px!important;
	}
	.stages .stage:before {
		
	}
	.stages .stage .count {
		font-size:20px;
	}
	.stages .stage .title {
		position: absolute;
    left: -150px!important;
    margin-right:0!important;
    top: 50%!important;
    margin-top: -25px!important;
    width: 100%!important;
    display: flex!important;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size:25px;
	}
}
@media screen and (max-width:408px) { 
	.stages .stage .title {
		left: -100px!important;
	}
	.stages .stage {
		width:100px!important;
		height:100px!important;
	}
}
.stages .stage {
	position: relative;
	border:1px solid #0012ff;
	width:60px;
	height:60px;
	border-radius:100%;
	display:flex;
	justify-content: center;
	align-items:center;
	margin-left:70px;
}
.stages .stage:before {
	content: '';
	width:70px;
	height:1px;
	background: #c0c0c0;
	position: absolute;
	right:100%;
	top:50%;
}
.stages .stage .title {
	position: absolute;
	right:100%;
	margin-right:18px;
	top:50%;
	margin-top:-25px;
}
.stages .stage:nth-child(2) {
	width:80px;
	height:80px;
}
.stages .stage:nth-child(3) {
	width:90px;
	height:90px;
}
.stages .stage:nth-child(4) {
	width:110px;
	height:110px;
}
.stages .stage.primary {
	background:#0012ff;
}
.stages .stage.primary .count {
	color:#fff;
}
.advantages {
	display:flex;
	align-items:stretch;
	flex-wrap:wrap;
	justify-content: space-between;
}
.advantage {
	width:48%;
	text-align:left;
	margin-bottom:25px;
	border-radius:7px;
	position: relative;
}
@media screen and (max-width:576px) {
	.advantage {
		width:100%;
	}
}
.advantage:before {
	content: '';
	position: absolute;
	left:120px;
	top:60px;
	width:100px;
	height:1px;
	background: #0012ff;
}
.advantage .advantage-title {
	margin-top:0px;
}
.advantage > * {
	padding:0 25px;
}
.advantage .advantage-image {
	padding-top:25px;
	margin-bottom:15px;
}
.advantage .advantage-image img {
	width:70px;
	margin:auto;
}
.advantage .advantage-description {
	padding-bottom:25px;
}
.advantage .advantages-list {
	margin:0;
	list-style-type:none;
	padding:0;
}
.positions {
	display:flex;
	justify-content: space-around;
	align-items:center;
	flex-wrap:wrap;
}
.positions .position {
	text-align:left;
	max-width:48%;
}
@media screen and (max-width:576px) {
	.positions .position {
		max-width:100%;
		margin-bottom:20px;
		text-align:center;
	}
	.positions .position .position-header {
		justify-content: center;
	}
}
.positions .position .position-header {
	display:flex;
	align-items:center;
}
.positions .position .position-header img {
	width:60px;
}
.positions .position .position-header .position-price {
	margin-left:20px;
}
section.second {
	background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);	
}
section.fifth {
	background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);	
}
@media screen and (max-width:663px) {
	section.fifth {
		display:none;
	}
}
.fifth .graph {
	position:relative;
	margin:40px 0;
}
.fifth .graph .x-axis {
	position: absolute;
	right:65px;
	bottom:20px;
}
.fifth .graph .y-axis {
	position: absolute;
	left: 0px;
  top: 85px;
  margin-left: -42px;
	transform: rotate(90deg);
}
section.seventh {
	background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
 background-blend-mode: multiply;
}
section.ten {
	background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}
section.footer {
	background:#111;
	border-bottom:0;
}
@media screen and (max-width:576px) {
	section.footer {
		font-size:70%;
	}
}
.socials {
	display:inline;
}
.socials .social {
	margin-left:15px;
	display:inline-block;
}
.socials .social:first-child {
	margin-left:0;
}